<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-https://s3.ap-south-1.amazonaws.com/cadence-assets/assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets/img/favicon.png" />
    <title>Algorithm</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="styles.css" rel="stylesheet" />
    <!-- Fonts and Icons -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="image-container set-full-height">
        <div class="header">
            <div class="logosection">
                <a href="#">
                    <img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets/img/new_logo.png">
                </a>
            </div>
        </div>
        <!--   Big container   -->
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="wizard-header1">
                            <div class="signuphead"><span class="position-heading">SETUP </span><span class="pull-right logout-button" style="margin-right: 15px;font-size: 16px;"><i id="logoutBtn" class="fa fa-power-off"></i></span></div>
                        </div>
                    </div>
                    <div class="signupbody">
                        <div class="card wizard-card" data-color="green" id="wizard">
                            <form action="" method="POST">
                                <div class="tab-content">
                                    <!-- PRODCT STARTED HERE -->
                                    <div class="tab-pane active" id="product">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="wizard-header">
                                                    <h4 class="wizard-title">Setup your store by adding plans </h4>
                                                    <p class="category">Clients will be able to view and search these fields, and purchase these
                                                        products.
                                                    </p>
                                                </div>

                                                <!-- WIzard starts here -->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ol class="steps">

                                                            <li class="steps__item">
                                                                <span class="steps__link">Product</span>
                                                            </li>
                                                            <li class="steps__item">
                                                                <span class="steps__link">Subscription Plans</span>
                                                            </li>
                                                            <li class="steps__item">
                                                                <span class="steps__link">Loyalty Program</span>
                                                            </li>
                                                            <li class="steps__item">
                                                                <span class="steps__link">Payment</span>
                                                            </li>
                                                            <li class="steps__item steps__item--active  steps__item--first">
                                                                <a href="#" class="steps__link">Algorithm</a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <div id="algorith">
                                                        <div class="col-sm-12">
                                                            <div class="wizard-header">
                                                                <h4 class="newproduct">Suggest Algorithm for Upselling</h4>
                                                                <hr class="hrhere">
                                                            </div>
                                                        </div>
                                                        <div id="questions">
                                                            <div id="question0">
                                                                <div class="typeque">
                                                                    <p>Type a Question for End User</p>
                                                                    <a href="javascript:void(0);" onclick="removeQuestion(0); return false;">
                                                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                                                    </a>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control ques0" id="exampleInputEmail1" placeholder="Example : No. of members in family">
                                                                        <span id="question_span" style="color:red;"></span>
                                                                    </div>
                                                                    <span>The Question will be displayed to Consumer.</span>
                                                                </div>
                                                                <div class="typeque">
                                                                    <div id="answers">
                                                                        <p>Type Expected Answer</p>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control ans0" id="exampleInputEmail1" placeholder="Answer:1">
                                                                            <span id="option_span" style="color:red;"></span>
                                                                        </div>
                                                                        <span>Option 1 Available to user to Select, will be displayed
                                                                            to consumer.</span>
                                                                    </div>
                                                                    <div class="addadiotional">
                                                                        <button onclick="addAnswer(0);return false;" class="addanotherto">
                                                                            <i class="fas fa-plus"></i>
                                                                        </button>
                                                                        <div class="addremaioning">Add another Option to answer</div>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" id="Ans" name="Ans" value="0">
                                                            </div>
                                                        </div>
                                                        <div class="addadiotional1">
                                                            <button onclick="addQuestion();return false;" class="addanotherto">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                            <div class="addremaioning">Add another Question</div>
                                                        </div>
                                                        <div class="row">
                                                            <div id="toback">
                                                                <input type="button" id="backBtn1"name="submit" class="submitlinkal" value="Back">
                                                            </div>
                                                            <div id="tocombo">
                                                                <input type="button" onclick="addAlgorithm(); return false;" name="submit" class="submitlinkal2" value="Next">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="proVal" name="proVal" value="0">
                                                    </div>
                                                    <div id="combonition">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="wizard-header">
                                                                    <h4 class="newproduct">Choose suggestion for each combination</h4>
                                                                    <hr class="hrhere">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 position-relative">
                                                                <div id="combinations">
                                                                    <div id="row0">
                                                                        <div class="col-sm-6">
                                                                            <label class="labelewalgo">Combination</label>
                                                                            <div class="recomendationinfoal deliverysection">
                                                                                <select class="recomendational " id="combination0">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-1 algo-section-arrow-icon">
                                                                            <span class="fonticonarrow">
                                                                                <i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <label class="labelewalgo">Suggestion</label>
                                                                            <div class="recomendationinfo deliverysection" style="border:0px;">
                                                                                <select class="recomendationals " id="suggestion0">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" id="preVal" name="preVal" value="0">
                                                                    </div>
                                                                </div>
                                                                <div class="addadiotional2">
                                                                    <div class="addadiotional algo-add-row-section">
                                                                        <button onclick="addCombinations();return false;" class="addanotherto">
                                                                            <i class="fas fa-plus"></i>
                                                                        </button>
                                                                        <div class="addremaioning">Add row</div>
                                                                    </div>
                                                                </div>


                                                                <div class="addnextbtns">
                                                                    <div class="row">
                                                                        <div id="backalgo">
                                                                            <input type="button" id="backBtn2" name="submit" class="submitlinkal" value="Back">
                                                                        </div>
                                                                        <div id="tobehaviour">
                                                                            <input type="button" name="submit" class="submitlinkal2" value="Next">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="behaviour">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="wizard-header">
                                                                    <h4 class="newproduct">Select Pages to Show Algorithm Questions</h4>
                                                                    <hr class="hrhere">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-10 col-sm-offset-1">
                                                                <div class="col-sm-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="beconfirmwelcome">
                                                                                <input type="radio" id="productpage" name="page" value="ProductPage" checked="checked">
                                                                                <span>QA on Product Page</span>
                                                                            </div>
                                                                            <div class="beconfirmwelcome">
                                                                                <input type="radio" id="homepage" name="page" value="HomePage">
                                                                                <span>QA on Home Page (QA Section)</span>
                                                                            </div>
                                                                            <div class="beconfirmwelcome">
                                                                                <input type="radio" id="cartpage" name="page" value="ProductInCart">
                                                                                <span>QA on one of the Product in Cart</span>
                                                                            </div>
                                                                            <div class="beconfirmwelcome">
                                                                                <input type="radio" id="subpage" name="page" value="SubscriptionPage">
                                                                                <span>QA on Subscription Page</span>
                                                                            </div>
                                                                            <div class="beconfirmwelcome">
                                                                                <input type="radio" id="plantoday" name="page" value="ChoosePlanToday">
                                                                                <input type="hidden" id="token" value="<%=token%>">
                                                                                <span>QA on C2A (Choose Plan Today)</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <input type="submit" name="submit" onclick="insertCombination(); return false;" class="submitlink" value="FINISH">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  big container -->
    </div>
</body>
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets/js/jquery.validate.min.js" type="text/javascript"></script>
<script>
    var token =$("#token").val()||localStorage['token'];
    $(document).ready(function () {
        console.log("token in algorithm::"+token);
        $("#combonition").hide();
        $("#behaviour").hide();
    });
</script>
<script>
    $(document).ready(function () {
        // $("#tocombo").click(function(){
        // 	$("#algorith").hide();	
        //     $("#combonition").show();
        //     $("#behaviour").hide();	
        // });
        $("#tobehaviour").click(function () {
            $("#algorith").hide();
            $("#combonition").hide();
            $("#behaviour").show();
        });
        $("#backalgo").click(function () {
            $("#algorith").show();
            $("#combonition").hide();
            $("#behaviour").hide();
        });
    });
</script>

<script>
    function addQuestion() {
        var iniVal = $('#proVal').val();
        var c = parseInt(iniVal) + 1;

        var ques = $('#question' + iniVal).find('.ques' + iniVal).val();
        var ans1 = $('#question' + iniVal).find('.ans0').val() || "";
        var ans2 = $('#question' + iniVal).find('.ans1').val() || "";
        var ans3 = $('#question' + iniVal).find('.ans2').val() || "";

        if (ques != '') {
            var tab = "";
            if (c != 3) {
                if (ans1 != '' && ans2 != '') {
                    //tab += '<div style="heigt:20px;"><hr></div>'
                    tab += '<div id="question' + c + '">';
                    tab += '<div class="typeque">';
                    tab += '<p>Type a Question for End User</p>';
                    tab += '<a href="javascript:void(0);" onclick="removeQuestion(' + c +
                        '); return false;"><i class="fa fa-remove" aria-hidden="true"></i></a>';
                    tab += '<div class="form-group">';
                    tab += '<input type="text" class="form-control ques' + c +
                        '" id="exampleInputEmail1" placeholder="Example : No. of members in family">';
                    tab += '<span id="question_span" style="color:red;"></span>';
                    tab += '</div>';
                    tab += '<span>The Question will be displayed to Consumer.</span>';
                    tab += '</div>';
                    tab += '<div class="typeque">';
                    tab += '<div id="answers">';
                    tab += '<p>Type Expected Answer</p>';
                    tab += '<div class="form-group">';
                    tab +=
                        '<input type="text" class="form-control ans0" id="exampleInputEmail1" placeholder="Answer:1">';
                    tab += '</div>';
                    tab += '<span>Option 1 Available to user to Select, will be displayed to consumer.</span>';
                    tab += '</div>';
                    tab += '<div class="addadiotional">';
                    tab += '<button onclick="addAnswer(' + c +
                        '); return false;" class="addanotherto"><i class="fas fa-plus"></i></button>';
                    tab += '<div class="addremaioning">Add another Option to answer</div>';
                    tab += '</div>';
                    tab += '</div>';
                    tab += '<input type="hidden" id="Ans" name="Ans" value="0">';
                    tab += '</div>';
                    $("#questions").append(tab);
                    $('#proVal').val(c);
                    //return false;
                }
            } else {
                alert("Max 3 Questions only");

            }
        } else {
            $('#question_span').html("question not be empty");
            //$('#question_span').html("");

        }
        return false;

    }

    function addAnswer(id) {
        var iniVal = $('#question' + id).find('#Ans').val();
        var c = parseInt(iniVal) + 1;
        var preans = $('#question' + id).find('.ans' + iniVal).val() || "";
        var qiniVal = $('#proVal').val();
        var ques = $('#question' + qiniVal).find('.ques' + qiniVal).val();
        //alert(id);
        var ans = "";
        if (ques != "") {
            if (preans != '') {
                if (c != 3) {
                    ans += '<p>Type Expected Answer</p>';
                    ans += '<div class="form-group">';
                    ans += '<input type="text" class="form-control ans' + c +
                        '" id="exampleInputEmail1" placeholder="Answer:"' +
                        (c + 1) + '">';
                    ans += '<span id="option_span" style="color:red;"></span>';
                    ans += '</div>';
                    ans += '<span>Option ' + (c + 1) +
                        ' Available to user to Select, will be displayed to consumer.</span>';
                    $('#question' + id).find('#answers').append(ans);
                    $('#question' + id).find('#Ans').val(c);

                } else {
                    alert("Max 3 options only");
                    addQuestion();

                }
            } else {

                $('#option_span').html("option not be empty");
                //$('#option_span').html("");
            }
        } else {
            $('#question_span').html("option not be empty");
            //$('#option_span').html("");
        }
        return false;
    }

    function removeQuestion(val) {
        $("#question_" + val).remove();
        return false;
    }

    function removeAnswer(val) {
        $("#ans_" + val).remove();
        return false;
    }

    function addAlgorithm() {
        var ques = {};
        var questions = {};
        var options1 = [],
            options2 = [];
        options3 = [];
        for (var i = 0; i < 3; i++) {
            var ans = $('#question0').find('.ans' + i).val();
            if (ans != undefined) {
                options1.push(ans);
            }
        }
        for (var i = 0; i < 3; i++) {
            var ans = $('#question1').find('.ans' + i).val();
            if (ans != undefined) {
                options2.push(ans);
            }
        }
        for (var i = 0; i < 3; i++) {
            var ans = $('#question2').find('.ans' + i).val();
            if (ans != undefined) {
                options3.push(ans);
            }
        }
        if ($('.ques1').val()) {
            ques.ques1 = $('.ques0').val();
            ques.options1 = options1;
            ques.ques2 = $('.ques1').val();
            ques.options2 = options2;
            if ($('.ques2').val()) {
                ques.options3 = options3;
                console.log(suma);
            }
            questions.questions = ques;
            //var token = window.localStorage.getItem('token');
            var token =$("#token").val()||localStorage['token'];
            if(token){
            $.ajax({
                url: "/addquestion",
                method: 'POST',
                headers: {
                    "token": token
                },
                data: questions,
                //dataType: 'json',
                success: function (data) {
                    var questions = data.questions;
                    window.localStorage.setItem('questions', JSON.stringify(questions));
                    window.localStorage.setItem('questionId', data.questionId);
                    setCombinations(0);
                    $.ajax({
                        url: '/getallSubscriptions',
                        method: 'GET',
                        headers: {
                            'token': token
                        },
                        success: function (data) {
                            window.localStorage.setItem('basket_data', JSON.stringify(data));
                            setSuggestions(0);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //alert('error: ' + textStatus + ': ' + errorThrown);
                            console.log(errorThrown);
                        }
                    });


                    $("#algorith").hide();
                    $("#combonition").show();
                    $("#behaviour").hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //alert('error: ' + textStatus + ': ' + errorThrown);
                    console.log(errorThrown);
                }
            });
         }else{window.location.href="https://admin.cadenza.tech"; }
        } else {
            alert("min 2 questions");
        }

        return false;
    }
    $("#backBtn1").click(function (e){
			e.preventDefault();
			var token =$("#token").val()||localStorage['token'];
	console.log("plan::"+ token);
	$.ajax({
			url: '/updateSession',
			method: 'POST',
			data:{token:token,step:'payment'},
			success: function (data) {
				//alert(data.message);
				if (data.status === "success") {
					window.location="/payment";
					
				} 
			}
	});
	});
    $("#backBtn2").click(function(e){
        e.preventDefault();
        $("#algorith").show();
    });
    
</script>

<style type="text/css">
    .recomendationinfo {
        float: left;
        width: 100%;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }

    select.recomendation {
        float: left;
        width: 75%;
        margin: 0px 0% 10px;
        background: #ecedf1;
        padding: 3px 0%;
    }

    .addadiotional1 {
        float: left;
        width: 100%;
        padding: 0px 2%;
    }
</style>
<script>
    var token =$("#token").val()||localStorage['token'];
    function setCombinations(id) {
        var data=window.localStorage.getItem('questions');
        console.log("data::"+JSON.stringify(data));
        var questions = JSON.parse(data);
        //console.log("suma::"+questions);
        var tab = "";
        //for(var i=0;i<questions.length;i++){
        var options1 = questions['options1'];
        if (options1 != "") {
            var options2 = questions['options2'];
            var options3 = questions['options3'];
            if (options2) {
                for (var j = 0; j < options1.length; j++) {
                    for (var k = 0; k < options2.length; k++) {
                        if (options3 != undefined) {
                            for (var l = 0; l < options3.length; l++) {
                                tab += '<option value="' + options1[j] + "-" + options2[k] + "-" + options3[l] + '">' +
                                    options1[j] + "-" + options2[k] + "-" + options3[l] + '</option>';
                            }
                        } else {
                            tab += '<option value="' + options1[j] + "-" + options2[k] + '">' + options1[j] + "-" +
                                options2[k] + '</option>';
                        }
                    }
                }
            }
        }
        //}
        $("#combination" + id).append(tab);
    }

    function setSuggestions(id) {
        var data = JSON.parse(window.localStorage.getItem('basket_data'));
        console.log('baskets::',JSON.stringify(data))
        var tab = "";
        for (i = 0; i < data.length; i++) {
            var plan = data[i].plans;
            if (plan != undefined) {
                for (j in plan) {
                    var item = plan[j];
                    tab +=
                        `<option value="${data[i].collectionId}#${data[i].title}-${item.title}">${data[i].title}-${item.title}</option>`;
                }
            }
        }
        $('#suggestion' + id).append(tab);
    }

    function addCombinations() {
        var iniVal = $('#preVal').val();
        var c = parseInt(iniVal) + 1;
        var tab = "";
        tab += '<div id="row' + c + '">';
        tab += '<div class="col-sm-6">';
        tab += '<label class="labelewalgo">Combination</label>';
        tab += '<div class="recomendationinfoal deliverysection">';
        tab += '<select class="recomendational " id="combination' + c + '">';
        tab += '</select>';
        tab += '</div>';
        tab += '</div>';
        tab += '<div class="col-sm-1 algo-section-arrow-icon">';
        tab +=
            '<span class="fonticonarrow"><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i></span>';
        tab += '</div>';
        tab += '<div class="col-sm-5">';
        tab += '<label class="labelewalgo">Suggestion</label>';
        tab += '<div class="recomendationinfo deliverysection" style="border:0px;">';
        tab += '<select class="recomendationals " id="suggestion' + c + '">';
        tab += '</select>';
        tab += '</div>';
        tab += '</div>';
        tab += '</div>';
        $('#combinations').append(tab);
        $('#preVal').val(c);
        setCombinations(c);
        setSuggestions(c);
        window.localStorage.setItem('rows', c);
        return false;
    }

    function insertCombination() {
        var rows = window.localStorage.getItem('rows');
        //var token = window.localStorage.getItem('token');
        var questionId = window.localStorage.getItem('questionId');
        var questions = window.localStorage.getItem('questions');
        console.log("questionId::" + questionId);
        //console.log("rows::"+rows);
        var combinations = {};
        for (var i = 0; i <= rows; i++) {
            var c = $('#row' + i).find('#combination' + i).val();
            var s = $('#row' + i).find('#suggestion' + i).val();
            var s1 = s.split('#');
            var comb = {};
            comb.id = s1[0];
            comb.suggestion = s1[1];
            if (c != undefined && s != undefined) {
                combinations[c] = comb;
            }
        }
        //console.log("combinations::"+JSON.stringify(combinations));
        var pages = document.getElementsByName('page');
        var page_name;
        for (var i = 0; i < pages.length; i++) {
            if (pages[i].checked) {
                page_name = pages[i].value;
            }
        }
        var data = {};
        data['questionId'] = questionId;
        data['combinations'] = combinations;
        data['behaviour'] = page_name;
        //data['questions'] = questions;
       console.log("updated data::" + JSON.stringify(data));
        $.ajax({
            url: "/updateAlgorithm",
            method: 'POST',
            headers: {
                "token": token
            },
            data: data,
            dataType: 'json',
            success: function (data) {
                if (data.status === "success") {
                    const url="https://dashboard.cadenza.tech/?token="+token;
                    window.location =url;
                } else {
                    window.location = "/algorithm";
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert('error: ' + textStatus + ': ' + errorThrown);
                window.location = "/algorithm";
                console.log(errorThrown);
            }

        });


        return false;
    }
</script>


<script type="text/javascript">
    $('#exampleInputEmail1').on('input', function () {
        var input = $(this);
        var is_data = input.val();
        if (is_data) {
            var splChars = "*!|,\":<>[]{}`\';()@&$#%~+=-";
            for (var i = 0; i < is_data.length; i++) {
                if (splChars.indexOf(is_data.charAt(i)) != -1) {
                    //alert ("Illegal characters detected!"); 
                    $('#question_span').html("Special characters not allowed!");

                } else {
                    $('#question_span').html("");
                }
            }
        }
    });
    
	function logout(){
		//alert ("Hello World!");
		localStorage.clear();
		window.location.href = "https://admin.cadenza.tech";
		
	}
	document.getElementById("logoutBtn").addEventListener("click", logout);

</script>

</html>