<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png"
	/>
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Payment</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

</head>

<body>
	<div class="image-container set-full-height">

		<div class="header">
			<div class="logosectionpro">
				<a href="#">
					<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png">
				</a>
			</div>
		</div>


		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<!--      Wizard container        -->
					<div class="wizard-container">

						<div class="wizard-header1">
							<div class="signuphead"><span class="position-heading">SETUP </span><span class="pull-right logout-button" style="margin-right: 15px;font-size: 16px;"><i id="logoutBtn" class="fa fa-power-off"></i></span></div>
						</div>
						<div class="signupbody">
							<div class="card wizard-card" data-color="green" id="wizard">
								<form action="" method="">
									<div class="tab-content">
										<!-- PRODCT STARTED HERE -->
										<div class="tab-pane active" id="product">
											<div class="row">
												<div class="col-sm-12">
													<div class="wizard-header">
														<h4 class="wizard-title">Step <span class="step-number"><span class="number_text">4</span></span>: Setup your store by adding Payment details </h4>
														<p class="category">Clients will be able to view and search these fields, and purchase these products.</p>
													</div>

													<!-- WIzard starts here -->
													<div class="row">
														<div class="col-sm-12">
															<ol class="steps">

																<li class="steps__item">
																	<span class="steps__link">Product</span>
																</li>
																<li class="steps__item">
																	<span class="steps__link">Subscription Plans</span>
																</li>
																<li class="steps__item">
																	<span class="steps__link">Loyalty Program</span>
																</li>
																<li class="steps__item  steps__item--active  steps__item--first">
																	<a href="#" class="steps__link">Payment</a>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Algorithm</span>
																</li>
															</ol>
														</div>
													</div>
													<!-- WIZARD ENDS HERE -->

													<!-- Product Information starts here -->
													<div class="col-sm-12">
														<div class="wizard-header">
															<h4 class="newproduct">Enter your PayTM subscription API details</h4>
															<hr class="hrhere">
														</div>

														<!-- store plans starts here-->
														<div class="col-sm-12">
															<div class="col-sm-4">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Provide us Credentials</label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="MID" placeholder="Merchant ID(length of 20)">
																		<span id="mid_span" style="color:red;"></span>
																	</div>
																	<div class="form-group">
																		<input type="text" class="form-control" id="MERCHANT_KEY" placeholder="Merchant Secret(length of 16)">
																		<span id="secret_span" style="color:red;"></span>
																	</div>
																	<div class="col-sm-12">
																		<input type="submit" name="submit" id="finish" class="submitlink" value="FINISH">
																	</div>
																</div>
															</div>

															<div class="col-sm-2">
																<div class="middleor">
																	<div class="middleordata">or</div>
																</div>
															</div>

															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="paytmpay">
																		<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/paytm-bank.png" alt="paytm">
																	</div>
																</div>
																<div class="col-sm-12">
																	<div class="confirmwelcomebaspay">
																		<!-- <input type="checkbox" name="">
																		<span class="basketspan">&nbsp;&nbsp;&nbsp;Signup for Pay TM</span> -->
																		<input type="hidden" id="token" value="<%=token%>">
																	</div>
																</div>
																<div class="col-sm-12">
																	<button id="paytmSignupButton" onclick="return false;" class="submitlink">Signup using PayTM</button>
																</div>

															</div>

														</div>

													</div>
													<!-- Product information ends here -->



												</div>
											</div>
										</div>
										<!-- PRODCT END HERE -->
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- wizard container -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!--  big container -->


	</div>

</body>

<div class="modal fade" id="paytmSignupModal" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Signup Using the PayTM</h4>
			</div>
			<div class="modal-body" id="model_body">
				<h4 class="signup-modal-help-text">
				 Provide the documents listed below for the purpose of legal & compliance review. Upload PDF documents. <strong>max size: 2MB</strong> 
				</h4>
				<h3 class="main-heading-signup-modal">Business Proof Documents</h3>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group singupModal-form-group">
							<label for="pan">Business PAN number</label>
							<input type="file" accept=".pdf" name="pdf" id="pan">
							<label for="pan" class="input-label">Upload</label><span id="pdf0"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group singupModal-form-group">
							<label for="company">Company Proof</label>
							<input type="file" accept=".pdf" name="pdf" id="company">
							<label for="company" class="input-label">Upload</label><span id="pdf1"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group singupModal-form-group">
							<label for="GST">GST Number proof document</label>
							<input type="file" accept=".pdf" name="pdf"id="GST">
							<label for="GST" class="input-label">Upload</label><span id="pdf2"></span>
						</div>
					</div>
				</div>
				<h3 class="main-heading-signup-modal">Authorised Signatory Documents</h3>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group singupModal-form-group">
							<label for="auth-pan">Authorised Signatory PAN number</label>
							<input type="file" accept=".pdf" name="pdf"id="auth-pan">
							<label for="auth-pan" class="input-label">Upload</label><span id="pdf3"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group singupModal-form-group">
							<label for="auth-proof">Authorised Signatory address proof</label>
							<input type="file" accept=".pdf" name="pdf" id="auth-proof">
							<label for="auth-proof" class="input-label">Upload</label><span id="pdf4"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group singupModal-form-group">
							<label for="auth-declaration">Declaration of Authorised Signatory</label>
							<input type="file" accept=".pdf" name="pdf" id="auth-declaration">
							<label for="auth-declaration" class="input-label">Upload</label><span id="pdf5"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">close</button>
				<button type="button" id="pdfs_submit" class="btn btn-default text-center yes" style="margin-right: 20px;background-color: rgb(57, 176, 83);border: 2px rgb(57, 176, 83);color: white;">Submit</button>
				
			</div>
		</div>
	</div>
</div>

<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>

<script>
	var token =$("#token").val()||localStorage['token'];
	$(document).ready(function () {
		$("input[type='file']").change(function() {
			var i = $(this).next('label').clone();
			var file = $(this)[0].files[0].name;
			$(this).next('label').text("");
			var appendHtml = "";
			appendHtml = "<span class='file-name-text'>"+file+"</span>"
			$(this).next('label').append(appendHtml);
		});
		
		function getMultipleFiles(){
			var files = $("input[type='file']");
			console.log(" Multiple files::"+files);
			return files;
		}

		$("#paytmSignupButton").on("click", function(){
			//console.log("Open Signup Modal");
			$("#paytmSignupModal").modal("show");
		})

		console.log("token in payment::"+token);
		$("#pdfs_submit").click(function(e){
			e.preventDefault();
			//var arr=getMultipleFiles();
			var arr=[];
			var i=0,j=1;
			arr.push(document.getElementById("pan").files[0]);
			arr.push(document.getElementById("company").files[0]);
			arr.push(document.getElementById("GST").files[0]);
			arr.push(document.getElementById("auth-pan").files[0]);
			arr.push(document.getElementById("auth-proof").files[0]);
			arr.push(document.getElementById("auth-declaration").files[0]);
			//for(let i=0;i<6;i++){
				while(i<6){
				console.log("pdf"+arr[i]+"i value"+i);
				const formdata = new FormData();
				
				formdata.append("token",token);
				if(i==0){
					formdata.append("pdf",arr[i]);
					formdata.append("pdfName","pan_document");}
				else if(i==1){
					formdata.append("pdf",arr[i]);
					formdata.append("pdfName","companyProof_document");
				}
				else if(i==2){
					formdata.append("pdf",arr[i]);
					formdata.append("pdfName","GSTNumberProof_document");
				}
				else if(i==3){
					formdata.append("pdf",arr[i]);
					formdata.append("pdfName","SignatoryPAN_document");
				}
				else if(i==4){
					formdata.append("pdf",arr[i]);
					formdata.append("pdfName","SignatoryAddressProof_document");
				}
				else if(i==5){
					formdata.append("pdf",arr[i]);
					formdata.append("pdfName","Declaration_document");
				}
				if(uploadPDF(formdata,i)){
					i++}
				// }else{
				// 	uploadPDF(formdata,i);
				// }
				
			}
			updateSession();
		});
		function uploadPDF(formdata,i){
			var status;
			$.ajax({
				type: 'POST',
				url: '/uploadPDF',
				data: formdata,
				processData: false,
				contentType: false,
				async: false,
				success: function (res) {
					//alert(res.message);
					if (res.status == "success") {
						$('#pdf'+i).append("<i class='fa fa-check-circle upload-check-icon'></i>");
						status=true;
					}else{
						status=false;
					}
					 
				}	
			});
			return status;
			
		}
		function updateSession(){
			
			$.ajax({
						url: '/updateSession',
						method: 'POST',
						data:{token:token,step:'algorithm'},
						async: false,
						success: function (data) {
								//alert(data.message);
								if (data.status === "success") {
									//$('#paytmSignupModal').modal('hide');
									setTimeout(function () {
										window.location = "/algorithm";
            						},2000);
									
									
								} 
						}
			});
		}

		$("#finish").click(function (e) {
			e.preventDefault();
			var mid = $("#MID").val();
			var sid = $("#MERCHANT_KEY").val();
			//var token = window.localStorage.getItem('token');
			if(token){
			if(mid && sid){
			$.ajax({
				type: 'POST',
				url: '/addAccount',
				data: {
					token: token,
					MID: mid,
					MERCHANT_KEY: sid
				},
				success: function (res) {
					//alert(res.message);
					if (res.status == "success") {
						//console.log("url" + url);
						updateSession();
						//window.location = "/algorithm";
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert('error: ' + textStatus + ': ' + errorThrown);
					console.log(errorThrown);
				}
			});
		}else{
			if(mid===""){
				$('#mid_span').html("this field is required");
				$('#MID').on('input', function () {
					var input = $(this);
					var is_data = input.val();
					if (is_data) 
						$('#mid_span').html("");
				});
			}if(sid===""){
				$('#secret_span').html("this field is required");
				$('#MERCHANT_KEY').on('input', function () {
					var input = $(this);
					var is_data = input.val();
					if (is_data) 
						$('#secret_span').html("");
				});

			}

		}
		}else{window.location.href="https://admin.cadenza.tech"; }

		});


		//$("#basketone").show();
		$("#baskettwo").hide();

		//$("#planone").show();
		$("#plantwo").hide();

		//$("#paymentone").show();
		$("#paymenttwo").hide();
	});
	
	function logout(){
		//alert ("Hello World!");
		localStorage.clear();
		window.location.href = "https://admin.cadenza.tech";
		
	}
	document.getElementById("logoutBtn").addEventListener("click", logout);

</script>
<style type="text/css">
	input[type=text] {
		text-align: center;
		color: #adaca5;
	}

	input[type=time] {
		text-align: center;
	}
</style>

</html>