<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png"
	/>
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Product</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="styles.css" rel="stylesheet" />
	<style>
		i.fa-question-circle-o{
			font-size: 16px !important;
			line-height: 18px !important;
			color: #717272;
		}
	</style>
	<!-- Fonts and Icons -->
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>

</head>

<body>
	<div class="image-container set-full-height">

		<div class="header">
			<div class="logosectionpro">
				<a href="#">
					<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png">
				</a>
			</div>
		</div>


		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<!--      Wizard container        -->
					<div class="wizard-container">

						<div class="wizard-header1">
							<div class="signuphead"><span class="position-heading">SETUP </span><span class="pull-right logout-button" style="margin-right: 15px;font-size: 16px;"><i id="logoutBtn" class="fa fa-power-off"></i></span></div>
						</div>
						<div class="signupbody">
							<div class="card wizard-card" data-color="green" id="wizard">
								<form action="" method="POST" enctype="multipart/form-data">
									<div class="tab-content">
										<!-- PRODCT STARTED HERE -->
										<div class="tab-pane active" id="product">
											<div class="row">
												<div class="col-sm-12">
													<div class="wizard-header">
														<h4 class="wizard-title"> Step <span class="step-number"><span class="number_text">1</span></span>: Define the products that will constitute your Subscription Plans</h4>
														<!-- <p class="category">Clients will be able to view and search these fields, and purchase these products.</p> -->
														<p class="category">Fields marked with * are compulsory</p>														
													</div>


													<!-- WIzard starts here -->
													<div class="row">
														<div class="col-sm-12">
															<ol class="steps">
																<li class="steps__item  steps__item--active  steps__item--first">
																	<a href="#" class="steps__link">Product</a>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Subscription Plans</span>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Loyalty Program</span>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Payment</span>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Algorithm</span>
																</li>
															</ol>
														</div>
													</div>
													<!-- WIZARD ENDS HERE -->


													<!-- Product Information starts here -->
													<div class="col-sm-12">
														<div class="wizard-header">
															<h4 class="newproduct">Product Information</h4>
															<!-- <div class="italica">You currently have
																<span id="products_count"></span> products</div> -->
															<hr class="hrhere">
														</div>
														<div class="col-sm-8">
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Product name
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Product Name" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="title" value="" name="title" required minlength="1" maxlength="15">
																		<span class="remaining-chars-text">(<span id="remainingProductChars" style="font-size:12px;">0</span>/<span style="font-size:12px;">15</span>)</span>
																		<span id="title_span" style="color:red;"></span>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Product SKU
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Product SKU" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="collectionId" value="<%=SKU%>" readonly>
																	</div>
																</div>
															</div>
															<div class="col-sm-12">

																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Product description
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Product Description" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<textarea id="description" rows="2" cols="50" maxlength="68" required></textarea>
																		<span class="remaining-chars-text">(<span id="remainingProductDescriptionChars" style="font-size:12px;">0</span>/<span style="font-size:12px;">68</span>)</span>
																		<span id="description_span" style="color:red;"></span>
																	</div>
																</div>
															</div>
															<div class="col-sm-12">
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group" style="width:450px;">
																		<input type="hidden" class="form-control" id="productUrl" readonly>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="col-sm-12">
																<label class="labelew">Product image
																	<span style="color:red;">*</span>:
																	<i data-toggle="tooltip" title="Product Image" class="fa fa-question-circle-o"></i></label>
																<div class="picture-container">
																	<div class="picture">
																		<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/default-avatar.png" class="picture-src" id="wizardPicturePreview"
																		    title="" />
																		<input type="file" id="wizard-picture" name="image" accept="image/*" required>
																	</div>
																	<h6 style="text-transform:capitalize">Upload</h6>
																	<div class="uploadsize">(Max 32mb | .jpg, .png)</div>
																	<span id="image_span" style="color:red;"></span>
																</div>
															</div>
														</div>
													</div>
													<!-- Product information ends here -->
													<!-- Pricing Starts here -->
													<div class="col-sm-12">
														<div class="wizard-header">
															<h4 class="newproduct">Pricing</h4>
															<hr class="hrhere">
														</div>
														<div class="col-sm-8">
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">MRP
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Maximum Retail Price" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="retail_price" value="" style="color: #00af54;" required/>
																		<span id="retail_price_span" style="color:red;"></span>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="row">
																		<div class="col-sm-12">
																			<div class="choice" data-toggle="wizard-checkbox">
																				<label class="labelew">Subscription discount % (Monthly)																		<span style="color:red;">*</span>:
																					<i data-toggle="tooltip" title="Maximum Retail Price" class="fa fa-question-circle-o"></i></label>
																				<div class="form-group">
																					<input type="text" class="form-control" id="monthly_discount" required min="0" max="100" value="" style="color: #00af54;" required placeholder="(Monthly)"/>
																					<span id="monthly_discount_span" style="color:red;"></span>
																				</div>
																			</div>
																		</div>
																		<div class="col-sm-12">
																			<div class="choice" data-toggle="wizard-checkbox">
																				<label class="labelew">Subscription discount % (Weekly)
																					<span style="color:red;">*</span>:
																					<i data-toggle="tooltip" title="Subsciption Discount" class="fa fa-question-circle-o"></i></label>
																				<div class="form-group">
																					<input type="number" class="form-control" id="weekly_discount" value="" required min="0" max="100" placeholder="(Weekly)">
																					<span id="weekly_discount_span" style="color:red;"></span>
																					<input type="hidden" id="token" value="<%=token%>">
																					<input type="hidden" id="storeName" value="<%=storeName%>">
																					<input type="hidden" id="precollectionId" value="">
																				</div>
																			</div>
																		</div>
																</div>
															</div>
														</div>
														
														<div class="col-sm-4">
															<!-- <div  class="col-sm-12">
																		<input type="button" id="backBtn" name="submit" class="submitlinknew" value="Back">
															</div>	 -->
															
															<div class="col-sm-12">
																<input type="submit" id="post_product" name="submit" class="submitlinknew" value="Next" style="margin-top: 116px">
															</div>
														
								
														</div>
													</div>
													<!-- Pricing ends here -->
												</div>
											</div>
										</div>
										<!-- PRODCT END HERE -->
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- wizard container -->
				</div>
			</div>
			<!-- row -->
		</div>
		<!--  big container -->
	</div>
	<!-- MOdal starts here -->
	<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Your Product is successfully added</h4>
				</div>
				<div class="modal-body" id="model_body">
				</div>
				<div class="modal-footer">
					<button type="button" id="singleProducts" class="btn btn-default" data-dismiss="modal">close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal ends here -->

</body>

<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>

<!-- input validations -->
<script>
	$(document).ready(function () {
		


		$("#title").on("keyup", function(){
			var enteredChars = $("#title").val().length;
			//console.log("Length:",$("#title").val().length);
			$("#remainingProductChars").text(enteredChars);
		});
		$("#description").on("keyup", function(){
			var enteredChars = $("#description").val().length;
			//console.log("Length:",$("#description").val().length);
			$("#remainingProductDescriptionChars").text(enteredChars);
		});


		$('[data-toggle="tooltip"]').tooltip();
		// Name can't be blank
		$('#title').on('input', function () {
			var input = $(this);
			var is_name = input.val();
			if (is_name) {
				var splChars = "*|,\":<>[]{}`\';()@&$#%";
				for (var i = 0; i < is_name.length; i++) {
					if (splChars.indexOf(is_name.charAt(i)) != -1) {
						//alert ("Illegal characters detected!"); 
						$('#title_span').html("Special characters not allowed!");

					} else {
						$('#title_span').html("");
					}
				}
			}
		});
		$('#description').on('input', function () {
			var input = $(this);
			var is_data = input.val();
			if (is_data) {
				var splChars = "*!|,\":<>[]{}`\';()@&$#%~+=-";
				for (var i = 0; i < is_data.length; i++) {
					if (splChars.indexOf(is_data.charAt(i)) != -1) {
						//alert ("Illegal characters detected!"); 
						$('#description_span').html("Special characters not allowed!");

					} else {
						$('#description_span').html("");
					}
				}
			}
		});
		$('#retail_price').on('input', function () {
			var input = $(this);
			var is_name = input.val();
			if (is_name) {
				$('#retail_price_span').html("");
			} else {
				$('#retail_price_span').html("This field is required");
			}
		});
		$('#monthly_discount').on('input', function () {
			var input = $(this);
			var is_name = input.val();
			
			if (is_name) {
				
				$('#monthly_discount_span').html("");
			} else {
				$('#monthly_discount_span').html("This field is required");
			}
		});
	});
</script>
<!-- input validations end here -->

<!-- input validations -->
<script>
	$(document).ready(function () {
		var storeName = $("#storeName").val();
		var token = $("#token").val();
		localStorage['token']=token;
		localStorage['storeName']=storeName;
		console.log("token in product::" + localStorage['token']);
		//$("#basketone").show();
		$("#baskettwo").hide();

		//$("#planone").show();
		$("#plantwo").hide();

		//$("#paymentone").show();
		$("#paymenttwo").hide();

		var nameField = document.getElementById('title');
		var lastNameValue = undefined;
		updateNameDisplay();
		setInterval(updateNameDisplay, 100);

		function updateNameDisplay() {
			var thisValue = nameField.value || "??";
			if (lastNameValue != thisValue) {
				$("#productUrl").val("https://" + storeName + ".cadenza.tech/product/" + $("#collectionId").val());
			}
		}
	});
</script>
<script type="text/javascript">
	var token = $("#token").val() || localStorage['token'];
	$(document).ready(function () {
		// var products;
		// $.ajax({
		// 	url: '/getProducts',
		// 	method: 'GET',
		// 	headers: {
		// 		'token': token
		// 	},
		// 	success: function (data) {
		// 		var p = JSON.stringify(data);
		// 		products = JSON.parse(p);
		// 		document.getElementById('products_count').innerHTML = products.length;
		// 	},
		// 	error: function (jqXHR, textStatus, errorThrown) {
		// 		alert('error: ' + textStatus + ': ' + errorThrown);
		// 		console.log(errorThrown);
		// 	}
		// });
		$("#backBtn").click(function (e){
			e.preventDefault();
			window.location.href = "https://admin.cadenza.tech";
		});
		$("#post_product").click(function (e) {
			e.preventDefault();
			if (token) {
				var file = document.getElementById("wizard-picture").files[0];
				var collectionId = document.getElementById("collectionId").value;
				var description = document.getElementById("description").value;
				var retail_price = document.getElementById("retail_price").value;
				var discount = document.getElementById("monthly_discount").value;
				var title = document.getElementById("title").value;
				var price = retail_price - [(discount / 100) * retail_price];

				if (file && description != "" && retail_price != "" && discount != "" && title != "") {
					const formdata = new FormData()
					formdata.append("token", token);
					formdata.append("image", file);
					formdata.append("collectionId", collectionId);
					formdata.append("description", description);
					formdata.append("retail_price", retail_price);
					formdata.append("discount", discount);
					formdata.append("price", price.toFixed(3));
					formdata.append("title", title);
					var precollectionId = window.localStorage.getItem('precollectionId');
					//console.log("precollectionId1::"+precollectionId);
					if (precollectionId===collectionId) {
						updateProduct(formdata, precollectionId);
					} else {
						postProduct(formdata);
					}
				} else {
					if (!file) {
						$('#image_span').html('image is required');
					} else {
						$('#image_span').html("");
					}
					if (title === "") {
						$('#title_span').html('This field is required');
					} else {
						$('#title_span').html("");
					}
					if (description === "") {
						$('#description_span').html('This field is required');
					} else {
						$('#description_span').html('');
					}
					if (retail_price === "") {
						$('#retail_price_span').html('This field is required');
					} else {
						$('#retail_price_span').html('');
					}
					if (discount === "") {
						$('#discount_span').html('This field is required');
					} else {
						$('#discount_span').html('');
					}
				}
			} else {
				window.location.href = "https://admin.cadenza.tech";
			}
		});

	});

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#wizardPicturePreview').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#wizard-picture").change(function() {
		readURL(this);
	});

	$(document).ready(function (e) {
		$(document).on('click', '.yes', addProduct);
	});

	function addProduct() {
		$('#myModal').modal('hide');
		//console.log("token in yes function:" + token);
		window.location = "/?token=" + token;
		

	}
	$(document).ready(function (e) {
		$(document).on('click', '.no', next);
	});

	function next() {
		$('#myModal').modal('hide');
		//window.location = "/subscription";
		$.ajax({
			url: '/updateSession',
			method: 'POST',
			data:{token:token,step:'subscription'},
			success: function (data) {
				//alert(data.message);
				if (data.status === "success") {
					window.location="/subscription";
				} 
			}
		});
	}

	function logout(){
		//alert ("Hello World!");
		localStorage.clear();
		window.location.href = "https://admin.cadenza.tech";
		
	}
	document.getElementById("logoutBtn").addEventListener("click", logout);

	$('#retail_price').keypress(function (event) {

		if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
			event.preventDefault(); //stop character from entering input
		}

	});
	$('#discount').keypress(function (event) {

		if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
			event.preventDefault(); //stop character from entering input
		}
	});
</script>


<!-- add product and update(when user press back button to modify his data about product) product functions -->
<script>
	function updateProduct(formdata, precollectionId) {
		var token =localStorage['token'];
		$.ajax({
			url: '/getProduct',
			method: 'POST',
			data: {
				token: token,
				collectionId: precollectionId
			},
			success: function (data) {
				var p = JSON.stringify(data);
				product = JSON.parse(p);
				var preImage = product.imageURL;
				//console.log("preImage",preImage);
				formdata.append("preImage", preImage);
				$.ajax({
					url: '/update',
					method: 'POST',
					data: formdata,
					processData: false,
					contentType: false,
					success: function (data) {
						alert(data.message);
						if (data.status === "success") {
							var tab = "";
							tab += '<p class="text-center">Would you like to add one more Product?</p>';
							tab += '<div class="row text-center">';
							tab +=
								'<button type="button"  class="btn btn-default text-center yes" style="margin-right:20px;">Yes</button>';
							tab += '<button type="button"  class="btn btn-default text-center no">No</button>';
							tab += '</div>';
							$('#model_body').html(tab);
							$('#myModal').modal('show');
							$('#myModal').css({
								'display': 'flex'
							});
						} else {
							window.location = "/?token=" + token;
						}


					},
					error: function (jqXHR, textStatus, errorThrown) {
						//alert('error: ' + textStatus + ': ' + errorThrown);
						console.log(errorThrown);
					}
				});

			},
			error: function (jqXHR, textStatus, errorThrown) {
				//alert('error: ' + textStatus + ': ' + errorThrown);
				console.log(errorThrown);
			}
		});


	}

	function postProduct(formdata) {
		var collectionId = document.getElementById("collectionId").value;
		//console.log("preCollectionID::",collectionId);
		$.ajax({
			url: '/addproduct',
			method: 'POST',
			data: formdata,
			processData: false,
			contentType: false,
			success: function (data) {
				//alert(data.message);
				if (data.status === "success") {
					window.localStorage.setItem('precollectionId', collectionId);
					var tab = "";
					tab += '<p class="text-center">Would you like to add one more Product?</p>';
					tab += '<div class="row text-center">';
					tab +=
						'<button type="button"  class="btn btn-default text-center yes" style="margin-right:20px;">Yes</button>';
					tab += '<button type="button"  class="btn btn-default text-center no">No</button>';
					tab += '</div>';
					$('#model_body').html(tab);
					$('#myModal').modal('show');
					$('#myModal').css({
						'display': 'flex'
					});
				} else {
					var token = localStorage['token'];
					window.location = "/?token=" + token;
				}
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('error: ' + textStatus + ': ' + errorThrown);
				console.log(errorThrown);
			}
		});

	}
</script>

</html>