<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Plan</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<style>
		#plannameherepercentage{
			margin-bottom: 27px;
		}
		.margin-bottom{
			margin-bottom: 27px;
		}
		i.fa-question-circle-o{
			font-size: 16px !important;
			line-height: 18px !important;
			color: #717272;
		}
	</style>
</head>

<body>
	<div class="image-container set-full-height">

		<div class="header">
			<div class="logosectionpro">
				<a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png"></a>
			</div>
		</div>


		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<!--      Wizard container        -->
					<div class="wizard-container">

						<div class="wizard-header1">
								<div class="signuphead"><span class="position-heading">SETUP </span><span class="pull-right logout-button" style="margin-right: 15px;font-size: 16px;"><i id="logoutBtn" class="fa fa-power-off"></i></span></div>
						</div>
						<div class="signupbody">
							<div class="card wizard-card" data-color="green" id="wizard">
								<form action="" method="POST">
									<div class="tab-content">
										<!-- PRODCT STARTED HERE -->
										<div class="tab-pane active" id="product">
											<div class="row">
												<div class="col-sm-12">
													<div class="wizard-header">
														<h4 class="wizard-title">Step <span class="step-number"><span class="number_text">3</span></span>: Setup your Loyalty program </h4>
														<p class="category">Clients will be able to view and search these fields, and purchase these products.</p>
													</div>

													<!-- WIzard starts here -->
													<div class="row">
														<div class="col-sm-12">
															<ol class="steps">

																<li class="steps__item" ><span class="steps__link">Product</span></li>
																<li class="steps__item" ><span class="steps__link">Subscription Plans</span></li>
																<li class="steps__item  steps__item--active  steps__item--first"><a href="#" class="steps__link">Loyalty Program</a></li>
																<li class="steps__item" disabled="disabled"><span class="steps__link">Payment</span></li>
																<li class="steps__item" disabled="disabled"><span class="steps__link">Algorithm</span></li>																
															</ol>
														</div>
													</div>
													<!-- WIZARD ENDS HERE -->

													<!-- Product Information starts here -->
													<div class="col-sm-12">
														<div class="wizard-header">
															<h4 class="newproduct">Store Loyalty Program</h4>
															<hr class="hrhere">
														</div>

														<!-- store plans starts here-->
														<div class="col-sm-12">
															<div class="col-sm-3">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Loyalty Program tier</label>
																	<div class="form-group">
																		<div class="plansection">
																			<div class="silverimg"><img alt="silver" src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/silver.png"></div>
																			<div class="silverinpu">
																				<input type="text" class="form-control" id="" value="Silver" readonly>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group">
																		<div class="plansection">
																			<div class="silverimg"><img alt="gold" src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/gold.png"></div>
																			<div class="silverinpu">
																				<input type="text" class="form-control" id="p2" value="Gold" >
																			</div>
																		</div>
																	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group">
																		<div class="plansection">
																			<div class="silverimg"><img alt="Platinum" src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/platinum.png"></div>
																			<div class="silverinpu">
																				<input type="text" class="form-control" id="p3" value="Platinum" >
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-3">
																<label class="labelewplan" style="text-align:center;">Discount % <i data-toggle="tooltip" title="Discount" class="fa fa-question-circle-o"></i></label>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="col-sm-12">
																		<input type="number" min="0" class="form-control" value="0" id="plannameherepercentage" name="Dis1" readonly>
																	</div>
																	<div class="col-sm-12">
																		<input type="number" min="0" class="form-control" value="15" id="plannameherepercentage" name="Dis2" required>
																	</div>
																	<div class="col-sm-12">
																		<input type="number" min="0" class="form-control" value="25" id="plannameherepercentage" name="Dis3" required onblur="check_discount();">
																		<span id="platinum_dis" style="color:red;"></span>
																	</div>
																</div>
															</div>

															<div class="col-sm-3">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Upfront commitment <span id="upfrontPeriodSpan"></span> <i data-toggle="tooltip" title="Upfront" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group margin-bottom">
																		<input type="number" min="0" class="form-control" id="upfront_silver" value="1" readonly>
																	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group margin-bottom">
																		<input type="number" min="0" class="form-control" id="upfront_gold" value="3" required>
																	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group margin-bottom">
																		<input type="number" min="1" class="form-control" id="upfront_platinum" value="6" required onblur="check_upfront();">
																		<input type="hidden" id="token" value="<%=token%>">
																		<input type="hidden" id="sku" value="<%=subscriptionSKU%>">
																		<span id="platinum_upfront" style="color:red;"></span>
																	</div>
																</div>
															</div>

															<!-- <div class="col-sm-3">
															<div class="choice" data-toggle="wizard-checkbox">
															<label class="labelewplan">Payment Type</label>
															<div class="form-group">
															<select class="planssection" disabled="true">
															<option value="yes" selected>Upfront</option>
														</select>
													</div>
													<div class="form-group">
													<select class="planssection" disabled="true">
													<option value="yes" selected>Upfront</option>
												</select>
											</div>
											<div class="form-group">
											<select class="planssection" disabled="true">
											<option value="yes" selected>Upfront</option>
										</select>
									</div>
								</div>
							</div> -->
						</div>
						<!-- Store plans ends here -->
						<div class="col-sm-2">
							<input type="button" id="backBtn" name="submit" class="margin-buttons" value="Back">
						</div>
						<div class="col-sm-2 col-sm-offset-8">
							<input type="submit" id="post_plan" name="submit" class="margin-buttons" value="Next">
						</div>

					</div>
					<!-- Product information ends here -->



				</div>
			</div>
		</div>
		<!-- PRODCT END HERE -->
	</div>
</form>
</div>
</div>
</div> <!-- wizard container -->
</div>
</div> <!-- row -->
</div> <!--  big container -->
</div>
<!-- MOdal starts here -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Your Basket is successfully added</h4>
			</div>
			<div class="modal-body" id="model_body">
			</div>
			<div class="modal-footer">
				<button type="button" id="singleProducts" class="btn btn-default" data-dismiss="modal">close</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal ends here -->

</body>

<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="jquery.min.js"></script>

<script>
$(document).ready(function(){
	var token = $("#token").val();
	localStorage['token']=token;

	var billing_frequency =localStorage['billing_frequency'];
	$('#upfrontPeriodSpan').html(billing_frequency);

	$('[data-toggle="tooltip"]').tooltip();
	//$("#basketone").show();
	$("#baskettwo").hide();

	//$("#planone").show();
	$("#plantwo").hide();

	//$("#paymentone").show();
	$("#paymenttwo").hide();
		$('#upfront_platinum').keypress(function(event){

		if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
			event.preventDefault(); //stop character from entering input
		}

		});
		$('#upfront_gold').keypress(function(event){

		if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
			event.preventDefault(); //stop character from entering input
		}
		});
		$('#plannameherepercentage').keypress(function(event){

		if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
			event.preventDefault(); //stop character from entering input
		}
		
		});
		$("#backBtn").click(function (e){
			e.preventDefault();
			var token =$("#token").val()||localStorage['token'];
			//console.log("plan::"+ token);

			//window.location="/subscription";
			$.ajax({
					url: '/updateSession',
					method: 'POST',
					data:{token:token,step:'subscription'},
					success: function (data) {
						//alert(data.message);
						if (data.status === "success") {
							window.location="/subscription";
							
						} 
					}
			});
		});

});
</script>
<style type="text/css">
input[type=text] {text-align: center;}
input[type=time] {text-align: center;}
</style>

<script>
	var token =$("#token").val()||localStorage['token'];
$(document).ready(function(){
	console.log("token in plan::"+token);
	$("#post_plan").click(function(e){
		e.preventDefault();
		//var token=localStorag['token'];
		if(token){
		var subscriptionSKU=$("#sku").val()||window.localStorage.getItem('collectionId');
		console.log("token"+ token);
		console.log("basketSKU"+ subscriptionSKU);
		var plan= {};
		var plan1= {};
		var plan2= {};
		var plan3= {};
		plan.token=token;
		var sdis=document.getElementsByName('Dis1')[0].value;
		var gdis=document.getElementsByName('Dis2')[0].value;
		var pdis=document.getElementsByName('Dis3')[0].value;
		var reOrder1=$('#upfront_silver').val();
		var reOrder2=$('#upfront_gold').val();
		var reOrder3=$('#upfront_platinum').val();
		plan1.collectionType='plan';
		plan1.collectionId=Math.floor((Math.random() * 100) + 1);
		plan1.basketSKU=subscriptionSKU;
		plan1.title='silver';
		plan2.collectionType='plan';
		plan2.collectionId=Math.floor((Math.random() * 100) + 1);
		plan2.basketSKU=subscriptionSKU;
		plan2.title=$('#p2').val();
		plan3.collectionType='plan';
		plan3.collectionId=Math.floor((Math.random() * 100) + 1);
		plan3.basketSKU=subscriptionSKU;
		plan3.title=$('#p3').val();
		if(sdis!="")
		{
			plan1.discount=sdis;
		}
		else{
			plan1.discount='0';
		}
		if(gdis!="")
		{
			plan2.discount=gdis;
		}
		else{
			plan2.discount='0';
		}
		if(pdis!="")
		{
			plan3.discount=pdis;
		}
		else{
			plan3.discount='0';
		}
		if(reOrder2!="")
		{
			plan2.reOrder=reOrder2;
		}
		else{
			plan2.reOrder='0';
		}
		if(reOrder3!="")
		{
			plan3.reOrder=reOrder3;
		}
		else{
			plan3.reOrder='0';
		}
		plan.token=token;
		plan.collectionId=subscriptionSKU;
		var p2=$('#p2').val();
		var p3=$('#p3').val();
		var plans={};
		plans[0]=plan1;
		plans[reOrder2]=plan2;
		plans[reOrder3]=plan3;
		plan.plans=JSON.stringify(plans);
		console.log(plan);
		//var data=JSON.stringify(plan);
		$.ajax({
			type:'POST',
			url:'/addPlans',
			data:plan,
			dataType:'json',
			success:function(data){
				//alert(data.message);
				if(data.status=="success")
				{
					var tab = "";
					tab+='<p class="text-center">Would you like to add one more Basket?</p>';
					tab+='<div class="row text-center">';
					tab+='<button type="button"  class="btn btn-default text-center yes" style="margin-right:20px;">Yes</button>';
					tab+='<button type="button"  class="btn btn-default text-center no">No</button>';
					tab+='</div>';
					$('#model_body').html(tab);
					$('#myModal').modal('show');
					$('#myModal').css({'display':'flex'});
				}
				
			},
			error:function(jqXHR, textStatus, errorThrown){
				alert('error: ' + textStatus + ': ' + errorThrown);
				console.log(errorThrown);
			}
		});
	}else{window.location.href="https://admin.cadenza.tech";}
	});
});
$(document).ready(function(e){
	$(document).on('click','.yes', addSubscription);
});
function addSubscription(){
	$('#myModal').modal('hide');
	var storeName=localStorage['storeName'];
	var token =$("#token").val()||localStorage['token'];
	console.log("plan::"+ token);

	//window.location="/subscription";
	$.ajax({
			url: '/updateSession',
			method: 'POST',
			data:{token:token,step:'subscription'},
			success: function (data) {
				//alert(data.message);
				if (data.status === "success") {
					window.location="/subscription";
					
				} 
			}
	});

	
}
$(document).ready(function(e){
	$(document).on('click','.no', next);
});
function next(){
	$('#myModal').modal('hide');
	var token =$("#token").val()||localStorage['token'];
	$.ajax({
			url: '/updateSession',
			method: 'POST',
			data:{token:token,step:'payment'},
			success: function (data) {
				//alert(data.message);
				if (data.status === "success") {
					//window.location="/subscription";
					window.location="/payment";
				} 
			}
	});

	//window.location="/payment";
}
</script>

<script type="text/javascript">
	function check_discount(){
		var pdis=document.getElementsByName('Dis3')[0].value;
		var gdis=document.getElementsByName('Dis2')[0].value;
	  if(pdis){
		  if(pdis<gdis){
			$( '#platinum_dis' ).html("this value must be greator than gold paln discount");
			return true;
		  }
		  else{
			  $('#platinum_dis').html("");
			  return false;
		  }
	  }
	}
	function check_upfront(){
		var pup=$('#upfront_platinum').val();
		var gup=$('#upfront_gold').val();
	  if(pup){
		  if(pup<gup){
			$( '#platinum_upfront' ).html("this value must be greator than gold paln upfront");
			$('#upfront_platinum').on('input', function () {
			var input = $(this);
			var discount = input.val();
			if (discount) {
				$('#gifting_discount_span').html("");
			}
			});
			return true;
		  }
		  else{
			  $('#platinum_upfront').html("");
			  return false;
		  }
	  }
	}
	
	function logout(){
		//alert ("Hello World!");
		localStorage.clear();
		window.location.href = "https://admin.cadenza.tech";
		
	}
	document.getElementById("logoutBtn").addEventListener("click", logout);

	</script>

</html>
