<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png"
	/>
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Subscription</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./styles.css" rel="stylesheet" />
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/chosen.min.css" rel="stylesheet" />

	<style>
		i.fa-question-circle-o{
			font-size: 16px !important;
			line-height: 18px !important;
			color: #717272;
		}
	</style>
	<!-- Fonts and Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />


</head>

<body onbeforeunload="HandleBackFunctionality();">
	<div class="image-container set-full-height">

		<div class="header">
			<div class="logosectionpro">
				<a href="#">
					<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png">
				</a>
			</div>
		</div>


		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<!--      Wizard container        -->
					<div class="wizard-container">

						<div class="wizard-header1">
							<div class="signuphead"><span class="position-heading">SETUP </span><span class="pull-right logout-button" style="margin-right: 15px;font-size: 16px;"><i id="logoutBtn" class="fa fa-power-off"></i></span></div>
						</div>
						<div class="signupbody">
							<div class="card wizard-card" data-color="green" id="wizard">
								<form action="" method="POST" enctype="multipart/form-data">
									<div class="tab-content">
										<!-- PRODCT STARTED HERE -->
										<div class="tab-pane active" id="product">
											<div class="row">
												<div class="col-sm-12">
													<div class="wizard-header">
														<h4 class="wizard-title">Step <span class="step-number"><span class="number_text">2</span></span>:Setup your subscription store by adding Plans </h4>
														<p class="category">Subscription plans are unique assortment of Products that are delivered weekly or monthly</p>
													</div>

													<!-- WIzard starts here -->
													<div class="row">
														<div class="col-sm-12">
															<ol class="steps">

																<li class="steps__item">
																	<span class="steps__link">Product</span>
																</li>
																<li class="steps__item  steps__item--active  steps__item--first">
																	<a href="#" class="steps__link">Subscription Plans</a>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Loyalty Program</span>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Payment</span>
																</li>
																<li class="steps__item" disabled="disabled">
																	<span class="steps__link">Algorithm</span>
																</li>
															</ol>
														</div>
													</div>
													<!-- WIZARD ENDS HERE -->

													<!-- Product Information starts here -->
													<div class="col-sm-12">
														<div class="wizard-header">
															<h4 class="newproduct">Subscription Plan Details</h4>
															<!-- <div class="italica">You currently have
																<span id="subscriptions_count"></span> subscriptions</div> -->
															<hr class="hrhere">
														</div>
														<div class="col-sm-8">
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Plan name
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Plan Name" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="title" value="" required minlength="6" maxlength="15">
																		<span class="remaining-chars-text">(<span id="remainingProductChars" style="font-size:12px;">0</span>/<span style="font-size:12px;">15</span>)</span>
																		<span id="title_span" style="color:red;"></span>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Plan SKU
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Plan SKU" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="collectionId" value="<%=SKU%>" readonly>
																	</div>
																</div>
															</div>
															<div class="col-sm-12">

																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Plan  assortment description
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Plan Description" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<textarea id="description" rows="3" cols="50" maxlength="68" required /></textarea>
																		<span class="remaining-chars-text">(<span id="remainingProductDescriptionChars" style="font-size:12px;">0</span>/<span style="font-size:12px;">68</span>)</span>
																		<span id="description_span" style="color:red;"></span>
																	</div>
																</div>
															</div>
															<!-- <div class="col-sm-12">

																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Plan assortment description
																		<span style="color:red;">*</span>:
																		<i data-toggle="tooltip" title="Plan assortment Description" class="fa fa-question-circle-o"></i></label>
																	<div class="form-group">
																		<textarea id="plan_description" rows="3" cols="50" maxlength="60" required /></textarea>
																		<span id="plan_description_span" style="color:red;"></span>
																	</div>
																</div>
															</div> -->
														</div>
														<div class="col-sm-4">
															<div class="col-sm-12">
																<label class="labelew">Plan Image
																	<span style="color:red;">*</span>:
																	<i data-toggle="tooltip" title="Plan Image" class="fa fa-question-circle-o"></i></label>
																<div class="picture-container">
																	<div class="picture">
																		<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/default-avatar.png" class="picture-src" id="wizardPicturePreview"
																		    title="" />
																		<input type="file" id="wizard-picture" name="image" accept="image/*" required>
																	</div>
																	<h6 style="text-transform:capitalize">Upload</h6>
																	<div class="uploadsize">(Max 32mb | .jpg, .png)</div>
																	<span id="image_span" style="color:red;"></span>
																</div>
															</div>
														</div>
													</div>
													<!-- Product information ends here -->
													<!-- Pricing Starts here -->
													<div class="col-sm-12">
														<div class="wizard-header">
															<h4 class="newproduct">Plan Features</h4>
															<hr class="hrhere">
														</div>
														<div class="col-sm-12">
															<div class="row">
																<div class="col-sm-12">
																	<div class="col-sm-4">
																		<div class="deliveryfrancy" style="padding:5px 0px;">
																			<div class="deliveryfre" style="width: 45%;">Trial Discount (%percentage)</div>
																			<div class="deliveryinput" style="width: 50%;">
																				<div class="form-group">
																					<input type="number" class="form-control" id="productnameherebask" value="" style="width: 85%;">
																					<span id="trial_discount_span" style="color:red;"></span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="confirmwelcomebas">
																			<div class="form-inline">
																				<input type="number" min="0" max="100" class="form-control" style="text-align:left; width:100px;" class="form-control" id="shipping_discount">
																				<span class="deliveryfre" style="width: 50%;">Shipping discount (%percentage) <i data-toggle="tooltip" title="Shipping Discount" class="fa fa-question-circle-o"></i></span>
																				<span id="shipping_discount_span" style="color:red;"></span>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="confirmwelcomebas">
																			<div class="form-inline">
																				<input type="number" min="0" max="100" class="form-control" style="text-align:left; width:100px;" id="gifting_discount">
																				<span class="deliveryfre" style="width: 50%;">Gifting Discount (%percentage) <i data-toggle="tooltip" title="Gifting Discount" class="fa fa-question-circle-o"></i></span>
																				<span id="gifting_discount_span" style="color:red;"></span>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="confirmwelcomebas" style="margin-left: 32%;width:200px;">
																	<input type="checkbox" id="featuredSubscription" value="">
																	<span class="basketspan">Featured Subscription</span>
																</div>
																<div class="col-sm-12">
																	<div class="deliveryfrancy">
																		<div class="deliveryfre">Billing Frequency <i data-toggle="tooltip" title="Delivery Frequency" class="fa fa-question-circle-o"></i></div>
																		<div class="deliveryinput">
																			<!-- <div class="deliverycheck" style="text-align:left; width:80px;">
																				<input type="number" min="1" class="form-control" id="frequency" required/>
																			</div> -->
																			<div class="deliverysection">
																				<select id="frequency" required/>
																				<!-- <option value="Day">Daily</option> -->
																				<option value="Week">Weekly</option>
																				<option value="Month">Monthly</option>
																				</select>
																			</div>
																		</div>
																	</div>
																	<!--div class="deliveryfrancy">
																		<div class="deliveryfre">Billing Frequency <i data-toggle="tooltip" title="Billing Frequency" class="fa fa-question-circle-o"></i></div>
																		<div class="deliveryinput">
																			<!-- <div class="deliverycheck" style="text-align:left; width:80px;">
																				<input type="number" min="1" class="form-control" id="frequency" required/>
																			</div> -->
																			<!--div class="deliverysection">
																				<select id="billing-frequency" required/>
																				<option value="Week">Weekly</option>
																				<option value="Month">Monthly</option>
																				</select>
																			</div>
																		</div>
																	</div-->
																	<div class="deliveryfrancy" style="position: relative;">
																		<div class="deliveryfre">Products in Subscription plan</div>
																		<div class="deliveryinput">
																			<!-- <div class="row" style="margin: 0;">
																				<span class="sub-prod-heading" style="display:inline-block; width: 300px;margin-bottom: 10px;text-align:center;">
																					Product
																				</span>
																				<span class="sub-quantity-heading" style="display:inline-block; width: 100px;margin-bottom: 10px;text-align:center;">
																					Quantity
																				</span>
																			</div> -->
																			<div class="row product-sb-row">
																				<div class="product-select-section">
																					<select class="chosen-select" multiple="multiple" name="subscriptionProducts" id="subscriptionProducts" style="margin-top:200px;width:300px;">
																					</select>
																					<input type="hidden" id="token" value="<%=token%>">
																					<input type="hidden" class="form-control" id="srp" name="srp">
																					
																				</div>
																				<!-- <div class="product-quantity-section" style="margin-left:5px;">
																					<input type="number" id="q1" placeholder="quantity">
																				</div> -->
																			</div>
																			<!-- <div class="row product-sb-row">
																				<div class="product-select-section">
																					<select class="chosen-select" name="subscriptionProducts" id="subscriptionProducts1" style="margin-top:200px;width:300px;">
																					</select>
																					
																				</div>
																				<div class="product-quantity-section" style="position: relative;top: -30px;left:5px;">
																					<input type="number" id="q2" placeholder="quantity">
																				</div>
																			</div>
																			<div class="row product-sb-row">
																				<div class="product-select-section">
																					<select class="chosen-select" name="subscriptionProducts" id="subscriptionProducts2" style="margin-top:200px;width:300px;">
																					</select>
																					
																				</div>
																				<div class="product-quantity-section" style="position: relative;top: -30px;left:5px;">
																					<input type="number" id="q3" placeholder="quantity">
																					
																				</div>
																			</div> -->
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
													<!-- Product Subscription start here -->
													<!-- Prodct subscription ends here -->
													<div class="col-sm-2 ">
														<input type="button" id="backBtn" name="submit" class="margin-buttons" value="Back">
													</div>
													<div class="col-sm-2 col-sm-offset-8">
														<input type="submit" id="post_basket" name="submit" class="margin-buttons" value="Next">
													</div>
												</div>
												<!-- Pricing ends here -->


											</div>
										</div>
									</div>
									<!-- PRODCT END HERE -->
							</div>
							</form>
						</div>
					</div>
				</div>
				<!-- wizard container -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!--  big container -->
	</div>
</body>

<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/chosen.min.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="jquery.min.js"></script> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
	$(".chosen-select").chosen();
</script>


<!-- input validations starts here -->
<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
		var token = $("#token").val();
		localStorage[token]=token;
		//console.log("token in subscription::"+localStorage['token']);
		$("#title").on("keyup", function(){
			var enteredChars = $("#title").val().length;
			//console.log("Length:",$("#title").val().length);
			$("#remainingProductChars").text(enteredChars);
		});
		$("#description").on("keyup", function(){
			var enteredChars = $("#description").val().length;
			console.log("Length:",$("#description").val().length);
			$("#remainingProductDescriptionChars").text(enteredChars);
		});


		//$("#basketone").show();
		$("#baskettwo").hide();

		//$("#planone").show();
		$("#plantwo").hide();

		//$("#paymentone").show();
		$("#paymenttwo").hide();

		$('#shipping_discount').keypress(function (event) {

			if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
				event.preventDefault(); //stop character from entering input
			}

		});
		$('#gifting_discount').keypress(function (event) {

			if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
				event.preventDefault(); //stop character from entering input
			}
		});
		$('#productnameherebask').keypress(function (event) {

			if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
				event.preventDefault(); //stop character from entering input
			}
		});
		$('#title').on('input', function () {
			var input = $(this);
			var is_name = input.val();
			if (is_name) {
				var splChars = "*|,\":<>[]{}`\';()@&$#%";
				for (var i = 0; i < is_name.length; i++) {
					if (splChars.indexOf(is_name.charAt(i)) != -1) {
						//alert ("Illegal characters detected!"); 
						$('#title_span').html("Special characters not allowed!");

					} else {
						$('#title_span').html("");
					}
				}
			}
		});
		$('#description').on('input', function () {
			var input = $(this);
			var is_data = input.val();
			if (is_data) {
				var splChars = "*!|,\":<>[]{}`\';()@&$#%~+=-";
				for (var i = 0; i < is_data.length; i++) {
					if (splChars.indexOf(is_data.charAt(i)) != -1) {
						//alert ("Illegal characters detected!"); 
						$('#description_span').html("Special characters not allowed!");

					} else {
						$('#description_span').html("");
					}
				}
			}
		});
		$('#shipping_discount').on('input', function () {
			var input = $(this);
			var discount = input.val();
			if (discount) {
				if (discount > 100) {
					$('#shipping_discount_span').html("This value must below 100");
				} else {
					$('#shipping_discount_span').html("");
				}
			}

		});
		$('#gifting_discount').on('input', function () {
			var input = $(this);
			var discount = input.val();
			if (discount) {
				if (discount > 100) {
					$('#gifting_discount_span').html("This value must below 100");
				} else {
					$('#gifting_discount_span').html("");
				}
			}

		});
		$('#productnameherebask').on('input', function () {
			var input = $(this);
			var discount = input.val();
			if (discount) {
				if (discount > 100) {
					$('#trial_discount_span').html("This value must below 100");
				} else {
					$('#trial_discount_span').html("");
				}
			}

		});
	});

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#wizardPicturePreview').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#wizard-picture").change(function() {
		readURL(this);
	});
</script>
<!-- input validations ends here -->


<!-- get all subscriptions function starts here -->
<script>
		$(document).ready(function () {
			var token =$("#token").val()||localStorage['token'];
			console.log("token in subscription::"+token);
			//var token = localStorage['token'];
			var baskets;
			$.ajax({
				url: '/getallSubscriptions',
				method: 'GET',
				headers: {
					'token': token
				},
				success: function (data) {
					var b = JSON.stringify(data);
					baskets = JSON.parse(b);
					document.getElementById('subscriptions_count').innerHTML = baskets.length;
				},
				error: function (jqXHR, textStatus, errorThrown) {
					//alert('error: ' + textStatus + ': ' + errorThrown);
					console.log(errorThrown);
				}
			});
			$("#backBtn").click(function (e){
					e.preventDefault();
					var token =$("#token").val()||localStorage['token'];
					console.log("plan::"+ token);

					//window.location="/subscription";
					$.ajax({
							url: '/updateSession',
							method: 'POST',
							data:{token:token,step:'product'},
							success: function (data) {
								//alert(data.message);
								if (data.status === "success") {
									window.location="/product";
									
								} 
							}
					});
				});
		});
	</script>
	<!-- get all subscriptions function ends here -->


<script>
	//var token =localStorage['token'];
	var token =$("#token").val()||localStorage['token'];
	console.log("token in subscription::"+token);
	$(document).ready(function () {
		var products;
		var sum = 0;
		$.ajax({
			url: '/getProducts',
			method: 'GET',
			headers: {
				'token': token
			},
			success: function (data) {
				var p = JSON.stringify(data);
				products = JSON.parse(p);
				appendToChosen(products);

			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('error: ' + textStatus + ': ' + errorThrown);
				console.log(errorThrown);
			}
		});
		$("#post_basket").click(function (e) {
			e.preventDefault();
			var selected_products = [];
			var quantity=[],q1,q2,q3;
			// q1=document.getElementById("q1").value;
			// q2=document.getElementById("q2").value;
			// q3=document.getElementById("q3").value;
			// if(q1==undefined)
			// 	quantity.push(1);
			// else
			// 	quantity.push(q1);
			// 	if(q2==undefined)
			// 	quantity.push(1);
			// else
			// 	quantity.push(q2);
			// if(q3==undefined)
			// 	quantity.push(1);
			// else
			// 	quantity.push(q3);
			$.each($(".chosen-select option:selected"), function () {
				selected_products.push($(this).val());
			});
			var selected_products_details = {};
			var id;
			for (let j = 0; j < products.length; j++) { 
				for (let i = 0; i < selected_products.length; i++) {
					if (products[j].collectionId === selected_products[i]) {
						sum += products[j].price;
						id = products[j].collectionId;
						selected_products_details[id] = products[j];
					}
				}

			}
			$("#srp").val(sum);
			//var token = window.localStorage.getItem('token');
			if(token){
			var file = document.getElementById("wizard-picture").files[0];
			var collectionId = document.getElementById("collectionId").value;
			var description = document.getElementById("description").value;
			var title = document.getElementById("title").value;
			var srp = document.getElementById("srp").value;
			var frequency = document.getElementById("frequency").value;
			//var featuredSubscription = document.getElementById("featuredSubscription").value;
			var featuredSubscription=$("#featuredSubscription").attr("checked") ? "yes" : "no";
			var shipping_discount = document.getElementById("shipping_discount").value;
			var gifting_discount = document.getElementById("gifting_discount").value;
			var trail_discount = document.getElementById("productnameherebask").value;
			if(frequency!==""){
				localStorage['billing_frequency']=frequency;
			}
			if (shipping_discount != "")
				shipping_discount = shipping_discount;
			else
				shipping_discount = "0"
			if (gifting_discount !== "")
				gifting_discount = gifting_discount;
			else
				gifting_discount = "0"
			if (file && title != "" && description != "" && trail_discount != "") {
				formdata = new FormData();
				formdata.append("token", token);
				formdata.append("image", file);
				formdata.append("collectionId", collectionId);
				formdata.append("description", description);
				formdata.append("srp", srp);
				formdata.append("title", title);
				formdata.append("frequency", frequency);
				formdata.append("subscriptionProducts", JSON.stringify(selected_products_details));
				//formdata.append("subscriptionProducts", selected_products_details);
				formdata.append("featuredSubscription", featuredSubscription);
				formdata.append("shipping_discount", shipping_discount);
				formdata.append("trail_discount", trail_discount);
				formdata.append("gifting_discount", gifting_discount);
				var precollectionId = window.localStorage.getItem('collectionId');
				if (precollectionId === collectionId) {
					updateSubscription(formdata, precollectionId);
				} else {
					addSubscription(formdata);
				}
			} else {
				if (!file) {
					$('#image_span').html('image is required');
				} else {
					$('#image_span').html("");
				}
				if (title === "") {
					$('#title_span').html('This field is required');
				} else {
					$('#title_span').html("");
				}
				if (description === "") {
					$('#description_span').html('This field is required');
				} else {
					$('#description_span').html('');
				}
				if (trail_discount === "") {
					$('#trial_discount_span').html('This field is required');
				} else {
					$('#trial_discount_span').html('');
				}
			}
		}else{window.location.href="https://admin.cadenza.tech"; }
		});
	});
</script>


<!-- input add and update subscription  starts here -->
<script type="text/javascript">

	function appendToChosen(products) {
		for (let i = 0; i < products.length; i++) {
			var collectionId = products[i].collectionId;
			var title = products[i].title;
			var NewProduct = $('<option value="' + collectionId + '">' + title + '</option>');
			$('#subscriptionProducts').append(NewProduct);
			$('#subscriptionProducts').trigger("chosen:updated");
		}
		
		for (let i = 1; i < products.length; i++) {
			var collectionId = products[i].collectionId;
			var title = products[i].title;
			var NewProduct = $('<option value="' + collectionId + '">' + title + '</option>');
			$('#subscriptionProducts1').append(NewProduct);
			$('#subscriptionProducts1').trigger("chosen:updated");
		}
		for (let i = 2; i < products.length; i++) {
			var collectionId = products[i].collectionId;
			var title = products[i].title;
			var NewProduct = $('<option value="' + collectionId + '">' + title + '</option>');
			$('#subscriptionProducts2').append(NewProduct);
			$('#subscriptionProducts2').trigger("chosen:updated");
		}
	}
	

	function updateSubscription(formdata, precollectionId) {
		var token = localStorage['token'];;
		$.ajax({
			url: '/getSubscription',
			method: 'POST',
			body: {
				token: token,
				collectionId: precollectionId
			},
			success: function (data) {
				var b = JSON.stringify(data);
				var basket = JSON.parse(b);
				var preImage = basket.imageURL;
				formdata.append("preImage", preImage);
				$.ajax({
					url: "/updateSubscription",
					method: 'POST',
					data: formdata,
					processData: false,
					contentType: false,
					success: function (data) {
						//alert(data.message);
						if (data.status === "success") {
							var collectionId = document.getElementById("collectionId").value;
							window.localStorage.setItem('collectionId', collectionId);
							window.location = "/plan";
						}
						else {
							window.location = "/subscription";
						}

					},
					error: function (jqXHR, textStatus, errorThrown) {
						alert('error: ' + textStatus + ': ' + errorThrown);
						console.log(errorThrown);
					}
				});

			},
			error: function (jqXHR, textStatus, errorThrown) {
				//alert('error: ' + textStatus + ': ' + errorThrown);
				console.log(errorThrown);
			}
		});
	}

	function addSubscription(formdata) {
		$.ajax({
			url: "/addBasket",
			method: 'POST',
			data: formdata,
			processData: false,
			contentType: false,
			success: function (data) {
				//alert(data.message);
				if (data.status == "success") {
					var collectionId = document.getElementById("collectionId").value;
					window.localStorage.setItem('collectionId', collectionId);
					window.location = "/plan";
				}
				else {
					window.location = "/subscription";
				}

			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('error: ' + textStatus + ': ' + errorThrown);
				console.log(errorThrown);
			}
		});

	}
	
	function logout(){
		//alert ("Hello World!");
		localStorage.clear();
		window.location.href = "https://admin.cadenza.tech";	
	}
	document.getElementById("logoutBtn").addEventListener("click", logout);
</script>
<!-- input add and update subscription  starts here -->

</html>